{{- if strings.HasPrefix .Destination "http" -}}
  <img loading="lazy" 
    src="{{ .Destination | safeURL }}" 
    alt="{{ .Text }}" 
    {{ with .Title}} title="{{ . }}"{{ end }} />

{{- else -}}
  {{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
  {{- $permalink := "" -}}

{{- if ne $image nil -}}
  {{- $permalink = $image.RelPermalink -}}
{{- end -}}

<div class="figure">
  <img loading="lazy" 
  src="{{ $permalink }}" 
  alt="{{ .Text }}" 
  width={{ $image.Width }} 
  height="{{ $image.Height }}"/>

{{ if .PlainText }}
  <div class="caption">
  <span>Figura {{ .Title }}</span>
  {{ .PlainText }}
  </div>{{ end }}
</div>

{{- end -}}