* {
    box-sizing: border-box;
}

html {
    font-family: "regular";
    color: var(--text);
    font-size: 12pt;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: var(--base);
    scrollbar-gutter: stable both-edges;
}

body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
    margin: 0;
}

header,
footer {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 800px;
    width: 100%;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--text);
}

strong {
    color: var(--blue);
}

em {
    color: var(--green);
}

p,
ol,
ul,
dl,
table,
blockquote {
    font-size: 1.2rem;
    margin: 0 0 1.5rem 0;
    color: var(--text);
}

blockquote {
    padding: 1rem;
    background: var(--mantle);
    border-radius: 10px;
    border-left: 5px solid var(--overlay0);

    p {
        margin: 0;
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

th {
    border-bottom: 4px solid var(--mantle);
}

td {
    border-bottom: 2px solid var(--mantle);
}

th,
td {
    text-align: left;
    padding: 0.75rem 1.5rem;
    hyphens: auto;
}

:not(pre)>code {
    font-size: 0.9rem;
    font-family: "mono";
    padding: 3px 5px;
    border-radius: 4px;
    background: var(--mantle);
}

.figure {

    a {

        scroll-margin-top: 12rem;

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            height: auto;
            border-radius: 10px;
            border: 3px solid var(--overlay0);
            transition: all 0.2s;

            &:hover {
                border: 3px solid var(--overlay1);
            }
        }
    }

    .caption {
        text-align: center;
        font-size: 1rem;
        padding: 0.25rem 0 0rem;

        span {
            font-weight: bold;
            color: var(--blue);
        }
    }

}

hr {
    border: 1px solid var(--surface0);
}

.track {
    border-radius: 10px;
    border: 4px solid var(--mantle);
    margin-bottom: 1.5rem;
    background-color: var(--mantle);

    #map {
        height: 480px;
    }

    #chart {
        max-height: 200px;
        padding: 2rem 2rem 1rem 1.5rem;
    }

}

#cusdis_thread {
    max-width: unset;
}

::marker {
    color: var(--blue);
}

::selection {
    background: var(--blue);
    color: var(--base);
}

::placeholder {
    font-family: "regular";
    color: var(--text);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--base);
}

::-webkit-scrollbar-thumb {
    background: var(--overlay0);
    border-radius: 6px;

    &:hover {
        background: var(--overlay1);
    }
}

@media (max-width: 720px) {
    html {
        font-size: 10pt;
    }

    .intro-text svg {
        display: none;
    }

    a.logo {
        span {
            display: none;
        }
    }

    a {
        div.post-title {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span.line {
            display: none;
        }
    }
}

@media (max-width: 480px) {

    html {
        font-size: 9pt;
    }

    .title a {
        display: none;
    }


}

@media (max-width: 300px) {
    html {
        font-size: 8pt;
    }
}