:root {
    --yellow: #ffbe0b;
    --orange: #fb5607;
    --pink: #ff006e;
    --mauve: #8338ec;
    --blue: #3a86ff;
    --text: #f8f9fa;
    --subtext: #e9ecef;
    --overlay0: #adb5bd;
    --overlay1: #ced4da;
    --overlay2: #dee2e6;
    --surface0: #343a40;
    --surface1: #495057;
    --surface2: #6c757d;
    --base: #212529;
    --black: #121417;
}

[data-color='light'] {
    --yellow: #ffbe0b;
    --orange: #fb5607;
    --pink: #ff006e;
    --mauve: #8338ec;
    --blue: #3a86ff;
    --text: #212529;
    --subtext: #343a40;
    --overlay2: #495057;
    --overlay1: #6c757d;
    --overlay0: #adb5bd;
    --surface2: #ced4da;
    --surface1: #dee2e6;
    --surface0: #e9ecef;
    --base: #f8f9fa;
    --black: #fff;
}