@font-face {
  font-family: "regular";
  font-display: block;
  src: url("/fonts/Nunito.ttf") format("truetype");
}

@font-face {
  font-family: "regular";
  font-display: block;
  src: url("fonts/Nunito-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "mono";
  font-display: auto;
  src: url("/fonts/JetBrainsMono.ttf") format("truetype");
}