@font-face {
  font-family: "regular";
  font-style: normal;
  font-display: block;
  src: url("/fonts/Nunito.woff") format('woff');
}

@font-face {
  font-family: "mono";
  font-display: auto;
  src: url("/fonts/JetBrainsMono.woff") format("woff");
}