header a.logo {
    display: flex;
    align-items: center;
    padding-bottom: 0.4rem;
    font-size: 1.6rem;

    svg {
        width: 2rem;
        height: auto;
        stroke: var(--blue);
        margin-right: 0.4rem;
    }

    span.mark {
        color: var(--blue);
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--yellow);
        }
    }
}

header a.menu {
    font-size: 1.2rem;
    border-bottom: 3px solid var(--base);
    transition: border-bottom 0.2s ease-in-out;

    &:hover {
        border-bottom: 3px solid var(--yellow);
    }

    &.current {
        border-bottom: 3px solid var(--yellow);
    }
}

header span.join {
    flex-grow: 1;
    border-bottom: 2px solid var(--surface0);
    margin: auto 0rem;
    border-radius: thin;
}

header #dark-mode {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;

    svg {
        transition: transform 0.2s ease-in-out;
        width: 2rem;
        height: auto;
    }

    .dark {
        display: none;
    }

    &:hover {
        svg {
            transform: scale(1.2);
        }
    }
}

[data-color="dark"] header #dark-mode {
    .light {
        display: none;
    }

    .dark {
        display: unset;
    }
}
