header .logo {
    display: flex;
    align-items: center;
    padding-bottom: 0.4rem;
    font-size: 1.6rem;

    svg {
        width: 2rem;
        height: 2rem;
        stroke: var(--blue);
        margin-right: 0.5rem;
    }

    span.mark {
        color: var(--blue);
    }

    &:hover {
        span.mark {
            color: var(--yellow);
        }
    }
}

header .menu {
    font-size: 1.2rem;
    border-bottom: 3px solid var(--base);

    &:hover {
        border-bottom: 3px solid var(--yellow);
    }

    &.current {
        border-bottom: 3px solid var(--yellow);
    }
}

header span.join {
    flex-grow: 1;
    border-bottom: 2px solid var(--surface0);
    margin: auto 0rem;
    border-radius: 1px;
}

header #dark-mode {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;

    svg {
        transition: stroke 0.2s ease-in-out;
        width: 1.6rem;
        height: 1.6rem;
        stroke: var(--blue);
    }

    .dark {
        display: none;
    }

    &:hover {
        svg {
            stroke: var(--yellow);
        }
    }

}

[data-color="dark"] header #dark-mode {
    .light {
        display: none;
    }

    .dark {
        display: unset;
    }
}