header {
    display: flex;
    align-items: center;
    max-width: 1280px;
    padding: 1rem;
    margin: 0 auto;

    .logo {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        padding-bottom: 0.5rem;
        
        font-size: 1.6rem;
        transition: color 0.25s;

        svg {
            width: 3rem;
            height: auto;
            margin-right: 0.5rem;
        }

        span.mark{
            color: var(--blue);
            transition: color 0.25s ;
            font-weight: bold;
        }

        &:hover span.mark{
            color: var(--red)
        }
    }

    .menu {
        margin: 0 0.25em;
        padding: 0 0.25rem;
        font-size: 1.2rem;
        border-bottom: 3px solid var(--base);

        .menu-icon {
            font-size: 1.4rem;
        }

        &:hover {
            border-bottom: 3px solid var(--blue);
        }

        &.current {
            border-bottom: 3px solid var(--red);
            font-weight: bold;
        }
    }

    .line {
        flex-grow: 1;
        border-bottom: 2px solid var(--surface0);
        margin: auto 1rem;
        border-radius: 1px;
    }

    #dark-mode {
        border: none;
        cursor: pointer;
        background: transparent;
        transition: all 0.2s;
        padding: 0;

        svg {
            width: 2rem;
            height: 2rem;
            transition: all 0.2s;
        }

        .dark {
            display: none;
        }

        &:hover {
            transform: scale(1.2);
        }

    }
}

[data-color="dark"] #dark-mode {
    .light {
        display: none;
    }

    .dark {
        display: unset;
    }
}