.highlight {
  margin: 0 0 2rem;
  padding: 1rem;
  border-radius: 10px;
  background: var(--mantle);
  position: relative;
  // overflow-x: auto;

  pre {
    line-height: 1.25;
    margin: 0;

    code {
      // padding: 40px 10px 10px;
      font-family: "mono";
      font-size: 1rem;

      &[data-lang]::before {
        display: block;
        content: attr(data-lang);
        margin-bottom: 1rem;
        color: var(--text);
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--blue);
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2),0px 2px 6px rgba(0, 0, 0, 0.2),0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.25rem 0.75rem;
    color: var(--text);
    cursor: pointer;
    font-family: "regular";
    font-size: 1rem;
    // font-weight: bold;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover {
    button {
        opacity: 1;
    }
  }

  // /* Background */.bg { }
  // /* Other */ .x {  }
  // /* Error */ .err {  }
  // /* CodeLine */ .cl {  }

  /* LineTableTD */ .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
  /* LineHighlight */ .hl { background-color: #ffffcc }
  /* LineNumbersTable */ .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* LineNumbers */ .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* Line */ .line { display: flex; }

  /* Keyword */ .k { color: var(--blue); font-weight: bold }
  /* KeywordConstant */ .kc { color: var(--blue); font-weight: bold }
  /* KeywordDeclaration */ .kd { color: var(--blue); font-weight: bold }
  /* KeywordNamespace */ .kn { color: var(--blue); font-weight: bold }
  /* KeywordPseudo */ .kp { color: var(--blue) }
  /* KeywordReserved */ .kr { color: var(--blue); font-weight: bold }
  /* KeywordType */ .kt { color: var(--blue) }

  /* Name */ .n { color: var(--magenta) }
  /* NameAttribute */ .na { color: var(--magenta) }
  /* NameBuiltin */ .nb { color: var(--magenta) }
  /* NameBuiltinPseudo */ .bp { color: var(--magenta) }
  /* NameClass */ .nc { color: var(--magenta); font-weight: bold }
  /* NameConstant */ .no { color: var(--magenta) }
  /* NameDecorator */ .nd { color: var(--magenta)}
  /* NameEntity */ .ni { color: var(--magenta); font-weight: bold }
  /* NameException */ .ne { color: var(--magenta); font-weight: bold }
  /* NameFunction */ .nf { color: var(--magenta) }
  /* NameFunctionMagic */ .fm { color: var(--magenta) }
  /* NameLabel */ .nl { color: var(--magenta) }
  /* NameNamespace */ .nn { color: var(--magenta); font-weight: bold }
  /* NameOther */ .nx { color: var(--whiter) }
  /* NameProperty */ .py { color: var(--magenta) }
  /* NameTag */ .nt { color: var(--magenta); font-weight: bold }
  /* NameVariable */ .nv { color: var(--magenta) }
  /* NameVariableClass */ .vc { color: var(--magenta) }
  /* NameVariableGlobal */ .vg { color: var(--magenta) }
  /* NameVariableInstance */ .vi { color: var(--magenta) }
  /* NameVariableMagic */ .vm { color: var(--magenta) }

  /* Literal */ .l { color: var(--green) }
  /* LiteralDate */ .ld { color: var(--green) }
  /* LiteralString */ .s { color: var(--green) }
  /* LiteralStringAffix */ .sa { color: var(--green) }
  /* LiteralStringBacktick */ .sb { color: var(--green) }
  /* LiteralStringChar */ .sc { color: var(--green) }
  /* LiteralStringDelimiter */ .dl { color: var(--green) }
  /* LiteralStringDoc */ .sd { color: var(--green); font-style: italic }
  /* LiteralStringDouble */ .s2 { color: var(--green) }
  /* LiteralStringEscape */ .se { color: var(--green); font-weight: bold }
  /* LiteralStringHeredoc */ .sh { color: var(--green) }
  /* LiteralStringInterpol */ .si { color: var(--green); font-weight: bold }
  /* LiteralStringOther */ .sx { color: var(--green) }
  /* LiteralStringRegex */ .sr { color: var(--green) }
  /* LiteralStringSingle */ .s1 { color: var(--green) }
  /* LiteralStringSymbol */ .ss { color: var(--green) }
  /* LiteralNumber */ .m { color: var(--red) }
  /* LiteralNumberBin */ .mb { color: var(--red) }
  /* LiteralNumberFloat */ .mf { color: var(--red) }
  /* LiteralNumberHex */ .mh { color: var(--red) }
  /* LiteralNumberInteger */ .mi { color: var(--red) }
  /* LiteralNumberIntegerLong */ .il { color: var(--red) }
  /* LiteralNumberOct */ .mo { color: var(--red) }

  /* Operator */ .o { color: var(--cyan) }
  /* OperatorWord */ .ow { color: var(--cyan); font-weight: bold }
  /* Punctuation */ .p { color: var(--white) }

  /* Comment */ .c { color: var(--white); font-style: italic }
  /* CommentHashbang */ .ch { color: var(--white); font-style: italic }
  /* CommentMultiline */ .cm { color: var(--white); font-style: italic }
  /* CommentSingle */ .c1 { color: var(--white); font-style: italic }
  /* CommentSpecial */ .cs { color: var(--white); font-style: italic }
  /* CommentPreproc */ .cp { color: var(--white) }
  /* CommentPreprocFile */ .cpf { color: var(--white) }

  /* Generic */ .g { color: var(--white) }
  /* GenericDeleted */ .gd { color: var(--white) }
  /* GenericEmph */ .ge { font-style: italic }
  /* GenericError */ .gr { color: var(--white) }
  /* GenericHeading */ .gh { color: var(--white); font-weight: bold }
  /* GenericInserted */ .gi { color: var(--white) }
  /* GenericOutput */ .go { color: var(--white) }
  /* GenericPrompt */ .gp { color: var(--white); font-weight: bold }
  /* GenericStrong */ .gs { font-weight: bold }
  /* GenericSubheading */ .gu { color: var(--white); font-weight: bold }
  /* GenericTraceback */ .gt { color: var(--white) }
  /* GenericUnderline */ .gl { text-decoration: underline }
  /* TextWhitespace */ .w { color: var(--white) }

}