.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 6rem;

    .intro-text {
        text-align: center;

        h1 {
            font-size: 4rem;
            margin: 0;
        }
    
        p {
            font-size: 1.4rem;

        }

        a {
            color: var(--accent);
            transition: all 0.25s;
    
            &:hover {
                color: var(--special);
            }
        }
    }

    .intro-links {
        display: flex;
        gap: 10px;
        justify-content: center;
    
        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.4rem 0.6rem;
            background-color: var(--dark);
            border-radius: 5px;
            font-size: 1rem;
            transition: transform 0.25s;
    
            &:hover {
                transform: translateY(-5px);
                
                svg {
                    stroke: var(--special);
                }
            }
    
            svg {
                width: 1.4rem;
                height: 1.4rem;
                stroke: var(--accent);
            }
        }
    }
}

.articles {

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

       .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--accent);
            margin: auto 1rem;
            border-radius: 2px;
        }

        a {
            font-size: 0.9rem;
            padding: 0.3rem 0.6rem;
            border-radius: 0.25rem;
            border: 2px solid var(--dark);

            &:hover {
                border: 2px solid var(--special);
                font-weight: bold;
            }
        }
    }

    .posts {
        a {
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.5rem 0.5rem 0.5rem 0.75rem;

            .category {
                display: flex;
                // font-family: "mono";
                font-size: 0.8rem;
                font-weight: bold;
                align-items: center;
                padding: 0.1rem 0.4rem;
                background-color: var(--dark);
                border-radius: 5px;
                color: var(--fixed-dark);

                &[type="naturaleza"] {
                    background-color: #caffbf;
                }

                &[type="programación"] {
                    background-color: #bdb2ff;
                }

                &[type="ingeniería"] {
                    background-color: #ffd6a5;
                }
            }

            .post-title {
                font-size: 1.2rem;
            }

            time {
                font-size: 1rem;
                font-family: "mono";
                color: var(--accent);
                margin-right: 0.5rem;
            }

            .line {
                flex-grow: 1;
                border-bottom: 2px solid var(--dark);
                border-radius: 1px;
                padding-top: 0.2rem;
                margin: auto 0rem;
            }

            &:hover {
                background-color: var(--dark);
                border-radius: 10px;
                font-weight: bold;

                time {
                    font-weight: bold;
                }

                .line {
                    border-bottom: 2px solid var(--darker);
                }
            }
        }
    }
}

.projects {

    .title {
        display: flex;
        margin-bottom: 0.5rem;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--accent);
            margin: auto 0 auto 1rem;
            border-radius: 2px;
        }
    }

    .card-list {
        display: grid;
        grid-template-columns: auto auto;
        // grid-auto-columns: minmax(0, 1fr);
        // grid-auto-flow: column;
        gap: 1.5rem;

        .card-item {
            border-radius: 5px;
            background-color: var(--dark);
            padding: 1rem;
            
            .card-title {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            hr {
                border: 1px solid var(--accent);
            }

            .card-content {

                .card-desc {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                .card-links {
                    display: flex;
                    gap: 10px;

                    a {
                        padding: 0.25rem 0.75rem;
                        background-color: var(--dark);
                        border: 1px solid var(--darker);
                        border-radius: 5px;

                        &:hover {
                            font-weight: bold;
                            border: 1px solid var(--accent);
                        }
                    }
                }
            }

        }
    }
}