.intro {
    margin-bottom: 2rem;
    
    h2 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;

        a {
            color: var(--blue);
        }
    }

}

.articles {

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 1rem;
            color: var(--green);
        }

        .line {
            flex-grow: 1;
            border-bottom: 2px solid var(--lavender);
            border-radius: thin;
        }
    }

    .posts {
        display: flex;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            padding: 0.4rem 0.8rem;
            margin: 0 -0.8rem;
            border-radius: 10px;
            transition: all 0.2s;

            .tag {
                font-size: 0.9rem;
                font-weight: bold;
                padding: 0.2rem 0.5rem;
                border-radius: 5px;
                border: thin solid var(--surface1);
                color: var(--base);
                background-color: var(--surface0);

                &[type="history"] {
                    color: var(--red);
                }

                &[type="technology"] {
                    color: var(--peach);
                }

                &[type="travel"] {
                    color: var(--green);
                }

            }

            .post-title {
                font-size: 1.2rem;
            }

            .line {
                flex-grow: 1;
                border-bottom: thin solid var(--surface0);
                margin: auto 0.5rem;
                border-radius: 2px;
            }

            time {
                font-size: 0.9rem;
                font-family: "mono";
                color: var(--lavender);
                text-align: end;
            }

            &:hover {
                background-color: var(--surface0);
                // transform: translateX(20px);
                // font-weight: bold;
            }
        }
    }
}

.projects {
    margin-bottom: 4rem;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 1rem;
            color: var(--red);
        }

        .line {
            flex-grow: 1;
            border-bottom: 2px solid var(--lavender);
            border-radius: thin;
        }
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        a.container {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 1.2rem;
            border: thin solid var(--surface1);
            background-color: var(--surface0);
            border-radius: 10px;
            transition: transform 0.2s;

            time {
                font-size: 1rem;
                font-family: "mono";
                color: var(--lavender);
            }

            h2 {
                font-size: 1.2rem;
                margin: 0;
                font-weight: bold;
            }

            p {
                font-size: 1rem;
                margin: 0;
            }

            &:hover {
                transform: scale(1.02);
                border: thin solid var(--surface2);
            }
        }
    }
}