.intro {
    margin-bottom: 2rem;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;

        a {
            color: var(--blue);
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--yellow);
            }
        }
    }

    div.quote {
        padding-left: 1rem;
        border-left: thick solid var(--blue);
    }

}

.writing {

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 1rem;
            color: var(--subtext);
        }

        .line {
            flex-grow: 1;
            border-bottom: 2px solid var(--blue);
            border-radius: thin;
        }
    }

    .posts {
        display: flex;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            padding: 0.4rem 0.8rem;
            margin: 0 -0.8rem;
            border-radius: 10px;
            transition: all 0.2s;

            .post-title {
                font-size: 1.2rem;
            }

            .line {
                flex-grow: 1;
                border-bottom: thin solid var(--surface0);
                margin: auto 0.5rem;
                border-radius: 2px;
            }

            time {
                font-size: 0.9rem;
                font-family: "mono";
                color: var(--yellow);
                text-align: end;
            }

            &:hover {
                background-color: var(--surface0);
            }
        }
    }
}

.projects {
    margin-bottom: 4rem;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 1rem;
            color: var(--subtext);
        }

        .line {
            flex-grow: 1;
            border-bottom: 2px solid var(--blue);
            border-radius: thin;
        }
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        a.container {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 1.2rem;
            border: thin solid var(--surface0);
            background-color: var(--surface0);
            border-radius: 10px;
            transition: background-color 0.2s ease-in-out;

            time {
                font-size: 1rem;
                font-family: "mono";
                color: var(--yellow);
            }

            h2 {
                font-size: 1.2rem;
                margin: 0;
                font-weight: bold;
            }

            p {
                font-size: 1rem;
                margin: 0;
            }

            &:hover {
                background-color: var(--surface1);
                border: thin solid var(--surface1);
            }
        }
    }
}