.section-title {
    h1 {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        margin: 2rem 0 1rem;

        svg {
            width: 4.5rem;
            height: auto;
            margin-right: 0.5rem;
        }
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }
}

.tag-list {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .tag {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0.3rem 0.6rem;
        background: var(--surface0);
        border-radius: 5px;
        cursor: pointer;
        user-select: none;

        svg {
            width: 1.4rem;
            height: 1.4rem;
        }

        &[data-type="tutorial"] {
            svg {
                stroke: var(--sapphire);
            }

            &.active {
                background-color: var(--sapphire);
            }
        }

        &[data-type="viajes"] {
            svg {
                stroke: var(--green);
            }

            &.active {
                background-color: var(--green);
            }
        }

        &:hover {
            // font-weight: bold;
            background-color: var(--surface1);
        }
    }
}

.search-query {
    padding: 0.5rem 1rem;
    background: var(--mantle);
    border: 2px solid var(--mantle);
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.search-results {
    display: none;
}

.section-list,
.search-results {
    .group {
        margin-bottom: 1.5rem;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0.75rem;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--blue);
            margin: auto 1rem;
            border-radius: 2px;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5rem 0.25rem 0.5rem 0.75rem;

        .tag {
            font-size: 0.9rem;
            font-weight: bold;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            color: var(--base);
            background-color: var(--surface0);

            &[type="tutorial"] {
                color: var(--yellow);
            }

            &[type="viajes"] {
                color: var(--green);
            }

        }

        .post-title {
            font-size: 1.2rem;
        }

        .line {
            flex-grow: 1;
            border-bottom: thin solid var(--surface0);
            margin: auto 1rem;
            border-radius: 2px;
        }

        time {
            font-size: 1rem;
            font-family: "mono";
            color: var(--blue);
            margin-right: 0.5rem;
            text-align: end;
        }

        &:hover {
            background-color: var(--surface0);
            border-radius: 10px;
            font-weight: bold;

            .category {
                background-color: var(--surface1);
            }

            time {
                font-weight: bold;
            }

            .line {
                border-bottom: 2px solid var(--surface1);
            }
        }
    }
}