.section-title {
    h1 {
        font-size: 3rem;
        margin: 2rem 0 0rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
    }
}

.list-filter {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1.5rem 0;

    .filter-item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        padding: 0.3rem 0.7rem;
        border: 2px solid var(--dark);
        background: var(--dark);
        border-radius: 5px;
        cursor: pointer;

        &.active {
            border-color: var(--accent);
            background-color: var(--accent);

            svg {
                stroke: var(--light);
            }
        }

        &:hover {
            border-color: var(--accent);
        }

        svg {
            width: 1.4rem;
            height: 1.4rem;
            stroke: var(--accent);
        }
    }
}

#search-query {
    padding: 0.5rem 1rem;
    background: var(--dark);
    border: 2px solid var(--dark);
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &:focus, &:hover {
        border: 2px solid var(--accent);
    }
}

#search-results {
    display: none;
    margin-bottom: 1rem;
    a {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        font-size: 1.2rem;

        &:hover {
            background-color: var(--dark);
            border-radius: 5px;
        }

        time {
            font-size: 1rem;
            font-weight: bold;
            color: var(--accent);
        }
    }
}

.list-item {
    margin-bottom: 1rem;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

       .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--accent);
            margin: auto 1rem;
            border-radius: 2px;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5rem 0.5rem 0.5rem 0.75rem;

        .category {
            display: flex;
            // font-family: "Roboto Mono";
            font-size: 0.8rem;
            font-weight: bold;
            align-items: center;
            padding: 0.1rem 0.4rem;
            background-color: var(--dark);
            border-radius: 5px;
            color: #17191c;

            &[type="naturaleza"] {
                background-color: #caffbf;
            }

            &[type="programación"] {
                background-color: #bdb2ff;
            }

            &[type="ingeniería"] {
                background-color: #ffd6a5;
            }
        }

        .post-title {
            font-size: 1.2rem;
        }

        time {
            font-size: 1rem;
            // font-family: "Roboto Mono";
            // font-weight: bold;
            color: var(--accent);
            margin-right: 0.5rem;
        }

        .line {
            flex-grow: 1;
            border-bottom: 1px solid var(--dark);
            padding-top: 0.2rem;
            margin: auto 0rem;
        }

        &:hover {
            background-color: var(--dark);
            border-radius: 10px;
            font-weight: bold;

            .line {
                border-bottom: 1px solid var(--accent);
            }
        }
    }
}
