header {
    display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 1rem;
    margin: 0 auto;
    
    .logo {
        font-size: 1.4rem;
        color: var(--light);
        border: 2px solid var(--dark);
        margin-right: 0.5rem;
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        border-radius: 10px;
        transition: border 0.2s;

        &:hover {
            border: 2px solid var(--accent);
            font-weight: bold;
        }
    }

    .menu {
        margin: 0 0.25em;
        font-size: 1.2rem;
        padding: 0 0.25rem;
        border-bottom: 2px solid var(--darker);

        .menu-icon {
            font-size: 1.4rem;
        }

        &:hover {
            font-weight: bold;
            border-bottom: 3px solid var(--accent);
        }

        &.current {
            border-bottom: 3px solid var(--accent);
            font-weight: bold;
        }
    }

    .line {
        flex-grow: 1;
        border-bottom: 2px solid var(--dark);
        margin: auto 1rem;
        border-radius: 1px;
    }

    #dark-mode {
        align-items: center;
        border: none;
        cursor: pointer;
        background: transparent;
        transition: all 0.2s;
    
        &:hover {
            // border: 2px solid var(--accent);
            font-weight: bold;
            transform: scale(1.2);
            svg {
                stroke: var(--light);
            }
        }
    
        svg {
            width: 1.4rem;
            height: 1.4rem;
            stroke: var(--accent);
            transition: all 0.2s;
        }
    
        span {
            font-family: "regular";
            font-size: 2rem;
            color: var(--light);
        }
    
        .dark {
            display: none;
        }
    
    }
}

[data-color="dark"] #dark-mode {
    .light {
      display: none;
    }
    .dark {
      display: unset;
    }
  }