.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1380px;
    padding: 1rem 1.5rem;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .logo {
        font-size: 1.8rem !important;
        font-weight: bold;
        color: var(--accent);
        // padding: 0 0.25rem;
        margin-right: 0.5rem;
    }

    .menu {
        margin: 0 0.25em;
        font-size: 1.2rem;
        padding: 0 0.25rem;
        border-bottom: 2px solid var(--darker);

        .menu-icon {
            font-size: 1.4rem;
        }

        &:hover .menu-item {
            font-weight: bold;
            
        }

        &.current {
            border-bottom: 2px solid var(--accent);
            font-weight: bold;
        }
    }
}

#dark-mode {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 4px;
    // box-sizing: content-box;
    cursor: pointer;
    background: transparent;

    .dark {
        display: none;
    }

    svg {
        width: 1.8rem;
        height: 1.8rem;
        stroke: var(--accent);
    }
}

[data-color="dark"] #dark-mode {
    .light {
      display: none;
    }
    .dark {
      display: unset;
    }
  }