.notes {
    max-width: 1080px;

    .notes-header {
        display: flex;
        margin-bottom: 1rem;
        

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--accent);
            margin: auto 0 auto 1rem;
            border-radius: 2px;
        }
    }

    .note-list {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;

        .note-item {
            border-radius: 5px;
            background-color: var(--darker);
            border: 4px solid var(--dark);

            .header {
                display: flex;
                align-items: center;
                background-color: var(--dark);
                // border-bottom: 4px solid var(--accent);  
                padding: 0.5rem 1rem;

                .header-icon {
                    margin-right: 1rem;
                    font-size: 1.8rem;
                }

                h3 {
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin: 0;
                    color: var(--accent);
                }

                .subtitle {
                    font-size: 0.9rem;
                    margin: 0;
                }
            }

            .description {
                display: flex;
                flex-direction: column;

                a {
                    padding: 0.5rem 1rem;
                    border-top: 1px solid var(--dark);

                    h4 {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        font-size: 1rem;
                    }

                    &:hover {
                        color: var(--accent);
                    }
                }
            }
        }
    }
}