.article-header {
    margin: 4rem 0 2rem;

    h1 {
        font-weight: bold;
        font-size: 3rem;
        margin: 0;
    }

    .post-meta {

        a.tags {
            display: inline-block;
            font-size: 0.9rem;
            font-weight: bold;
            color: var(--base);
            background-color: var(--surface0);
            border-radius: 5px;
            padding: 0.2rem 0.6rem;

            &[type="tutorial"] {
                color: var(--yellow);
            }

            &[type="viajes"] {
                color: var(--green);
            }

            &:hover {
                background-color: var(--surface1);
            }
        }

        .metadata {
            margin-bottom: 0.75rem;

            a.author {
                font-weight: bold;
                color: var(--blue);

                &:hover {
                    color: var(--flamingo);
                }
            }

            span.read-time {
                font-style: italic;
            }
        }

    }
}

.article-post {

    a {
        color: var(--maroon);

        &:hover {
            text-decoration: underline;
            // text-decoration-thickness: 2px;
        }
    }

    h1,h2,h3 {
        display: flex;

        a.anchor {
            text-decoration: none;
            color: inherit;
    
            span {
                color: var(--blue);
            }
    
            &:hover span {
                color: var(--flamingo);
            }
    
        }

        .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--blue);
            margin: auto 1rem;
            border-radius: 2px;
        }


        .thin-line {
            flex-grow: 1;
            border-bottom: 2px solid var(--surface0);
            margin: auto 1rem;
        }


    }


}

aside {
    position: absolute;
    top: 310px;
    right: 240px;
    height: 100vw;

    .toc-container {
        border-radius: 5px;
        // background-color: var(--mantle);
        // min-width: 160px;

        position: sticky;
        top: 120px;

        h2 {
            font-size: 1.2rem;
            margin: 0;
            padding: 0.5rem 0.75rem;
            background-color: var(--mantle);
            border-radius: 5px;
        }

        #TableOfContents {
            border-left: 3px solid var(--mantle);
            margin: 0.5rem 0.5rem 0;
            padding: 0rem 0rem 0rem 0.5rem;

            ul {
                font-size: 1.2rem;
                list-style-type: none;
                padding: 0;

                a:hover {
                    color: var(--blue);
                    font-weight: bold;
                }
            }
        }
    }
}

.suggested {
    display: flex;
    justify-content: space-between;

    a {
        flex: 0 0 calc(50% - 1rem);
        padding: 1rem;
        border-radius: .35rem;
        background: var(--mantle);
        color: var(--blue);
        transition: transform 0.2s;

        &:first-of-type {
            text-align: right;
        }

        span {
            display: block;
            color: var(--text);
        }

        &:hover {
            transform: translateY(-4px);
            color: var(--flamingo);
        }
    }
}

.comments {
    .title {
        display: flex;
        margin-bottom: 1.5rem;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--blue);
            margin: auto 0 auto 1rem;
            border-radius: 2px;
        }
    }
}