.article-header {
    margin: 2rem 0;

    h1 {
        font-weight: bold;
        font-size: 3rem;
        margin: 0;
    }

    .post-meta {

        a.tags {
            display: inline-block;
            font-size: 0.9rem;
            font-weight: bold;
            color: var(--base);
            background-color: var(--surface0);
            border-radius: 5px;
            border: thin solid var(--surface1);
            padding: 0.2rem 0.6rem;

            &[type="historia"] {
                color: var(--red);
            }

            &[type="tecnología"] {
                color: var(--peach);
            }

            &[type="viajes"] {
                color: var(--green);
            }

            &:hover {
                background-color: var(--surface1);
            }
        }

        .metadata {
            margin-bottom: 0.75rem;

            a.author {
                font-weight: bold;
                color: var(--lavender);

                &:hover {
                    color: var(--blue);
                }
            }
        }

    }
}

.article-post {

    a {
        color: var(--mauve);
        text-decoration: underline;

        &:hover {
            color: var(--pink);
        }
    }

    h1,
    h2,
    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        a.anchor {
            font-size: 2rem;
            font-weight: 700;
            margin-right: 1rem;
            text-decoration: none;
            color: var(--text);

        }

        .line {
            flex-grow: 1;
            border-bottom: 2px solid var(--lavender);
        }


        .thin-line {
            flex-grow: 1;
            border-bottom: 2px solid var(--surface0);
            margin: auto 1rem;
        }
    }
}

aside {
    position: absolute;
    top: 310px;
    right: 240px;
    height: 100vw;

    .toc-container {
        border-radius: 5px;
        // background-color: var(--mantle);
        // min-width: 160px;

        position: sticky;
        top: 120px;

        h2 {
            font-size: 1.2rem;
            margin: 0;
            padding: 0.5rem 0.75rem;
            background-color: var(--mantle);
            border-radius: 5px;
        }

        #TableOfContents {
            border-left: 3px solid var(--mantle);
            margin: 0.5rem 0.5rem 0;
            padding: 0rem 0rem 0rem 0.5rem;

            ul {
                font-size: 1.2rem;
                list-style-type: none;
                padding: 0;

                a:hover {
                    color: var(--blue);
                    font-weight: bold;
                }
            }
        }
    }
}

.suggested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    a {
        padding: 1rem;
        border-radius: 10px;
        background: var(--mantle);
        border: thin solid var(--mantle);
        transition: transform 0.2s;

        svg {
            width: 1rem;
            height: auto;
        }

        &:first-of-type {
            text-align: right;
        }

        div.mark {
            color: var(--text);
            font-weight: bold;
        }

        div.title {
            color: var(--lavender);
        }

        &:hover {
            transform: scale(1.02);
            border: thin solid var(--crust);

            div.title {
                color: var(--blue);
            }
        }
    }
}

.comments {
    .title {
        display: flex;
        margin-bottom: 1.5rem;

        h2 {
            font-size: 2rem;
            margin: 0;
        }

        .line {
            flex-grow: 1;
            border-bottom: 4px solid var(--blue);
            margin: auto 0 auto 1rem;
            border-radius: 2px;
        }
    }
}