:root {

    // colors
    // --lighter: #EEEEEE;
    --light: #e3e5e8;
    --accent: #3a86ff;
    --dark: #29313d;
    --darker: #17191c;

    --special: #ffbe0b;
    --fixed: #17191c;
    // --tr-dark: #393E46ab;
    // --tr-darker: #232931ab;
    
    // dimensions
    --nav-height: 8em;
    // font
    --font-size: 20px;
}

[data-color='light'] {
    // colors
    // --lighter: #ffffff;
    --light: #17191c;
    --accent: #3a86ff;
    --dark: #c2cad6;
    --darker: #e3e5e8;

    --special: #ff006e;
    // --tr-dark: #393E46ab;
    // --tr-darker: #222831ab;
}
