:root {
    // colors
    --light: #EEEEEE;
    --accent: #4ECCA3;
    --dark: #393E46;
    --darker: #232931;
    --tr-dark: #393E46ab;
    --tr-darker: #232931ab;
    
    // dimensions
    --nav-height: 8em;
    // font
    --font-size: 20px;
}

// --- FOREST THEME --- //
// --light: #DCD7C9;
// --accent: #A27B5C;
// --dark: #3F4E4F;
// --darker: #2C3639;
// --tr-dark: #3F4E4Fab;
// --tr-darker: #2C3639ab;

// --- VANILLA THEME --- //
// --light: #EEEEEE;
// --accent: #FFD369;
// --dark: #393E46;
// --darker: #222831;
// --tr-dark: #393E46ab;
// --tr-darker: #222831ab;

// --- MINT THEME --- //
// --light: #EEEEEE;
// --accent: #4ECCA3;
// --dark: #393E46;
// --darker: #232931;
// --tr-dark: #393E46ab;
// --tr-darker: #232931ab;