:root {
    // colors
    --light: #e6e6e6;
    --medium: #cccccc;
    --accent: #536DFE;
    --special: #E23E57;
    --dark: #393E46;
    --darker: #222831;
    --tr-dark: #393E46ab;
    --tr-darker: #222831ab;
    
    // dimensions
    --nav-height: 8em;
    // font
    --font-size: 20px;
}