{{ define "main" }}

<section class="section-title">
    <h1>📦 {{ .Title }}</h1>
    <p>{{ .Params.subtitle }}.</p>
</section>

<section class="designs">

    <div class="model">
        <div class="model-header">Astronaut</div>
        <model-viewer src="astronaut.glb" poster="astronaut.webp" auto-rotate seamless-poster environment-image="neutral" camera-controls ar ar-modes="webxr">
            <div class="progress-bar hide" slot="progress-bar">
                <div class="update-bar"></div>
            </div>
        </model-viewer>
    </div>

</section>

{{ $search := resources.Get "js/model-viewer.js" | js.Build }}
<script async src="{{ $search.RelPermalink }}"></script>

{{ end }}