{{ define "main" }}

<section class="intro">
    <div class="intro-text">
        <h1>Hola, soy <span>Benito.</span>👨🏿‍🚀</h1>
        <p> Me encanta construir proyectos de código abierto y
            escribir sobre lo que aprendo. Esta página es mi jardín digital, un compendio de
            las cosas que he aprendido y creado a lo largo de los años.</p>
    </div>
    <div class="intro-links">
        <a href="/" class="icon">
            {{ partial "svg/mail.svg" . }}
            Email
        </a>
        <a href="/" class="icon">
            {{ partial "svg/github.svg" . }}
            Github
        </a>
        <a href="/" class="icon">
            {{ partial "svg/rss.svg" . }}
            Rss
        </a>
    </div>
</section>

{{ $pages := .Paginate (where .Site.RegularPages "Section" "articles") }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $archivesPage := first 1 (where .Site.RegularPages "Layout" "eq" "archives") }}

<section class="articles">
    <h2>
        Últimos artículos
    </h2>
    <div class="posts">
        {{ range $pages.Pages }}
        <a href="{{ .RelPermalink }}">
            <time>{{ .Date.Format "Jan 02" }}</time>
            <div class="post-title">{{ .Title }}</div>
            {{ range .Params.tags }}
            <span>{{ . }}</span>
            {{ end }}
        </a>
        {{ end }}
    </div>
</section>

{{ end }}