{{ define "main" }}

<section class="intro">
    <div class="intro-text">
        <div>Hola, soy&nbsp;<a href="/articles">Lewin</a>{{ partial "svg/logo.svg" . }}</div>
        {{ .Content }}
    </div>
    <div class="intro-links">
        {{ range .Site.Menus.social }}
        <a href="{{ .URL }}" class="icon">
            {{ partialCached (print .Pre) . }}
            {{ .Name }}
        </a>
        {{ end }}
    </div>
</section>

{{ $pages := .Paginate (where .Site.RegularPages "Section" "articles") }}
{{ $notes := where .Site.RegularPages "Section" "notes" }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $archivesPage := first 1 (where .Site.RegularPages "Layout" "eq" "archives") }}

<section class="articles">
    <div class="title">
        <h2>Últimos artículos</h2>
        <span class="line"></span>
        <a href="{{ ref . " articles" }}">Ver todos</a>
    </div>
    <div class="posts">
        {{ range $pages.Pages }}
        <a href="{{ .RelPermalink }}">
            {{ with index (.Params.tags) 0 }}
            <span class="tag" type="{{ . }}">{{ . }}</span>
            {{ end }}
            <div class="post-title">{{ .Title }}</div>
            <span class="line"></span>
            <time>{{ .Date.Format "02/01/06" }}</time>
        </a>
        {{ end }}
    </div>
</section>

<section class="projects">
    <div class="title">
        <h2>Proyectos</h2>
        <span class="line"></span>
    </div>
    <div class="items">
        {{ range $projects }}
        <div href="{{ .Params.link }}" class="container">
            <time>{{ .Date.Format "2006" }}</time>
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            <div class="links">
                {{ with .Params.source }}
                <a href="{{ . }}">Github</a>
                {{ end }}
                {{ with .Params.demo }}
                <a href="{{ . }}">Demo</a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}