{{ define "main" }}

{{ $pages := .Paginate (where .Site.RegularPages "Section" "writing") }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}

<section class="intro">
    <h2>Hi, I'm&nbsp;<a href="/about">Lewin!</a></h2>
    <div class="quote">
        <p>{{ .Content }}</p>
    </div>
    <div class="links">
        {{ range .Site.Menus.social }}
        <a href="{{ .URL }}">
            {{ partialCached (print .Pre) . }}
            <span>{{ .Name }}</span>
        </a>
        {{ end }}
    </div>
</section>

<section class="writing">
    <div class="title">
        <h2 href="{{ ref . " writing" }}">Writing</h2>
        <span class="line"></span>
    </div>
    <div class="posts">
        {{ range $pages.Pages }}
        <a href="{{ .RelPermalink }}">
            <!-- {{ with index (.Params.tags) 0 }}
            <span class="tag" type="{{ . }}">{{ . }}</span>
            {{ end }} -->
            <div class="post-title">{{ .Title }}</div>
            <span class="line"></span>
            <time>{{ .Date.Format "02/01/06" }}</time>
        </a>
        {{ end }}
    </div>
</section>

<section class="projects">
    <div class="title">
        <h2>Projects</h2>
        <span class="line"></span>
    </div>
    <div class="items">
        {{ range $projects }}
        <div class="container">
            <time>{{ .Date.Format "2006" }}</time>
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            <div class="links">
                <a href="{{ .Params.source }}">Source</a>
                {{ if .Params.demo }}
                <a href="{{ .Params.demo }}">Demo</a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}