{{ define "main" }}

<section>
    <div class="section-title">
        <h1>📝 Artículos</h1>
        <p>Tutoriales, artículos técnicos, atajos, referencias, y todos los recursos de desarrollo escritos hasta la fecha.</p>
    </div>

    {{ $pages := where .Site.RegularPages "Section" "articles" }}

    <div class="list-filter">
        {{ $maxCategoryToShow := $.Site.Params.maxCategoryToShow | default 24 }}
        {{ range .Site.Taxonomies.tags.TaxonomyArray | first $maxCategoryToShow }}
        <div class="filter-item" data-value="{{ .Page.Title }}" data-type="tags">
            {{ partial "svg/hash.svg" . }}
            {{ .Page.Title }}
        </div>
        {{ end }}
    </div>

    <input id="search-query" type="search" placeholder="Busca cualquier cosa...">
</section>

<section id="search-results"></section>

<section class="section-list" id="section-list">
    {{ range $pages.GroupByDate "2006" }}
    <div class="list-item">
        <h2>{{ .Key }}</h2>
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}">
            <time>{{ .Date.Format "02 Jan" }}</time>
            <div class="post-title">{{ .Title }}</div>
            {{ range .Params.tags }}
            <span>
                {{ partial "svg/hash.svg" . }}
                {{ . }}
            </span>
            {{ end }}
        </a>
        {{ end }}
    </div>
    {{ end }}
</section>

{{ $search := resources.Get "ts/search.ts" | js.Build (dict "minify" false ) | fingerprint }}
<script async src="{{ $search.RelPermalink }}"></script>

{{ end }}