{{ define "main" }}
{{ $pages := where .Site.RegularPages "Section" "articles" }}

<section>
    <div class="section-title">
        <h1>
            {{ partial "svg/bookmark.svg" . }}
            Artículos
        </h1>
        <p>Tutoriales, artículos técnicos, atajos, referencias, y todos los recursos de desarrollo escritos hasta la
            fecha.</p>
    </div>

    <div class="list-filter">
        {{ range .Site.Taxonomies.categories }}
        <div class="filter-item" data-value="{{ .Page.Title }}" data-type="categories">
            {{ partial "svg/hash.svg" . }}
            {{ .Page.Title }}
        </div>
        {{ end }}
    </div>

    <input id="search-query" placeholder="Busca cualquier cosa...">
</section>

<section id="search-results">
    <div class="title">
        <h2>Resultados</h2>
        <span class="line"></span>
    </div>
    <div class="list"></div>
</section>


<section id="section-list">
    {{ range $pages.GroupByDate "2006" }}
    <div class="group">
        <div class="title">
            <h2>{{ .Key }}</h2>
            <span class="line"></span>
        </div>
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}">
            {{ with index (.Params.categories) 0 }}
            <span class="category" type="{{ . }}">{{ . }}</span>
            {{ end }}
            <div class="post-title">{{ .Title }}</div>
            <span class="line"></span>
            <time>{{ .Date.Format "02/01" }}</time>
        </a>
        {{ end }}
    </div>
    {{ end }}
</section>


{{ $search := resources.Get "scripts/search.ts" | js.Build (dict "minify" true ) | fingerprint }}
<script async src="{{ $search.RelPermalink }}"></script>

{{ end }}