{{ define "main" }}

{{ if .Params.toc }}
<aside>
    <div class="toc-container">
        <h2>📋 Contenidos</h2>
        {{ .TableOfContents }}
    </div>
</aside>
{{ end }}

<section>
    <div class="article-header">
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            <div class="metadata"><span class="author">
                    {{ $author := .Params.author }}
                    {{ if eq $author nil }}
                    {{ $author = .Site.Params.author }}
                    {{ end }}
                    {{ $author }}
                </span> · <time>{{ .Date.Format "Jan 02" }}</time> ·
                <span class="read-time">{{ .ReadingTime }} min</span>
            </div>
            <div class="tags">
                {{ range (.GetTerms "tags") }}
                <a href="{{ .RelPermalink }}">{{ partial "svg/hash.svg" . }}{{ .LinkTitle }}</a>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="article-post">
        {{ .Content }}
    </div>

</section>

<section>
    {{ partial "comments" . }}
</section>

{{ end }}