<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Site.Title}}</title>

    {{ template "_internal/opengraph.html" . }}

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
    <link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=1" />

    <!-- SCSS -->
    {{ $style := resources.Get "main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    <!-- COLOR SCHEME -->
    {{ $color := resources.Get "scripts/color.ts" | js.Build (dict "minify" false ) | fingerprint }}
    <script src="{{ $color.RelPermalink }}" data-chart="{{ .Page.Params.chart | default false}}"></script>

    <!-- COPY BUTTON -->
    {{ $copy := resources.Get "scripts/copy.ts" | js.Build (dict "minify" false ) | fingerprint }}
    <script src="{{ $copy.RelPermalink }}"></script>

    <!-- LEAFLET MAP -->
    {{ if .Params.map }}
    {{ $map := resources.Get "js/map.js" | js.Build (dict "minify" true ) | fingerprint }}
    <script src="{{ $map.RelPermalink }}"></script>
    {{ end }}

    <!-- CHARTS.JS -->
    {{ if .Params.chart }}
    {{ $chart := resources.Get "js/charts.js" | js.Build (dict "minify" true ) | fingerprint }}
    <script src="{{ $chart.RelPermalink }}"></script>
    {{ end }}

</head>