<nav class="navbar">
    <div class="nav-links">
        <a href="/" class="logo">Lewin</a>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | relURL }}" class="menu {{ if eq .URL $.RelPermalink }}current{{ end }}" >
            <span class="menu-icon">{{ .Pre }}</span>
            <span class="menu-item">{{ .Name }}</span>
            <span class="menu-icon">{{ .Post }}</span> 
        </a>
        {{ end }}
    </div>
    <div class="icons">
        <button id="dark-mode">
            {{ partial "svg/moon.svg" . }} Noche
        </button>
    </div>

</nav>