<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Site.Title}}</title>
    
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" /> -->

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨🏿‍🚀</text></svg>" />

    <!-- SCSS -->
    {{ $style := resources.Get "main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}"/>

    <!-- COLOR THEME TOGGLE -->
    {{ $toggle := resources.Get "scripts/toggle.ts" | js.Build (dict "minify" false ) | fingerprint }}
    <script src="{{ $toggle.RelPermalink }}"></script>

    <!-- LEAFLET MAP -->
    {{ if .Params.map }}

    {{ $leaflet := resources.Get "js/leaflet.js" | js.Build (dict "minify" true ) | fingerprint }}
    <script defer src="{{ $leaflet.RelPermalink }}"></script>
    {{ end }}

    <!-- KATEX -->
    {{ if .Params.katex }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js" integrity="sha384-X/XCfMm41VSsqRNQgDerQczD69XqmjOOOwYQvr/uuC+j4OPoNhVgjdGFwhvN02Ja" crossorigin="anonymous"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {{ end }}

</head>