<a href="/" class="logo">
    {{ partial "svg/logo.svg" . }}
    {{ .Site.Title }}
</a>

{{ $currentPage := . }}
{{ range first 3 .Site.Menus.main }}
<a href="{{ .URL | relURL }}" class="menu {{ if eq .URL $.RelPermalink }}current{{ end }}">
    <span class="menu-item">{{ .Name }}</span>
</a>
{{ end }}

<span class="line"></span>

<button id="dark-mode">
    <!-- <span class="dark">🌙</span> -->
    <!-- <span class="light">☀️</span> -->
    {{ partial "svg/moon.svg" . }}
    {{ partial "svg/sun.svg" . }}
</button>