{{ $defaultColor := default "dark" .Site.Params.colorScheme.default }}
<script>
    const colorSchemeKey = 'ThemeColorScheme';
    const colorSchemeItem = localStorage.getItem(colorSchemeKey);

    if (colorSchemeItem == 'dark') {
        document.documentElement.dataset.color = 'dark';
    } else if (colorSchemeItem == 'light') {
        document.documentElement.dataset.color = 'light';
    } else {
        localStorage.setItem(colorSchemeKey, "{{ $defaultColor }}");
        document.documentElement.dataset.color = 'dark';
    }
</script>