.dashboard {
    max-width: 1080px;

    .lineChart {
        background-color: var(--darker);
        border-radius: 10px;
        border: 2px solid var(--dark);
    }

    .dash-header {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        background-color: var(--dark);
    }

    #myChart {
        padding: 2rem;
    }
}