<canvas id="chart" width="400" height="400"></canvas>
<script defer >

{{ with .Page.Resources.GetMatch "track.json" }}
    var jsonFile = {{ .Content | safeJS }};
{{ end }}

var data = jsonFile.features[0].geometry.coordinates.map( (n, i) => Math.round(n[2] * 10) / 10 );
var labels = jsonFile.features[0].geometry.coordinates.map( (n, i) => Math.round(n[3] * 10) / 10 );

var index = data.map( (n, i) => i )

var style = getComputedStyle(document.body);

Chart.defaults.font.family = "Nunito";
Chart.defaults.font.size = 16;

var lineChart = document.getElementById('chart').getContext('2d');

const lineData = {
    labels: labels,
    datasets: [{
        borderColor: style.getPropertyValue('--accent'),
        pointBackgroundColor: '#e3e5e8',
        backgroundColor: '#3a86ff80',
        lineTension: 0.4,
        fill: true,
        data: data,
    }]
};

const lineConfig = {
    type: 'line',
    data: lineData,
    options: {
        elements: {
            point: {
                radius: 1,
                hitRadius: 80
            }
        },
        plugins: {
            legend: {
                display: false
            },
            tooltip: {
                backgroundColor: style.getPropertyValue('--darker'),
                borderColor: style.getPropertyValue('--accent'),
                borderWidth: 2,
                titleColor: style.getPropertyValue('--light'),
                bodyColor: style.getPropertyValue('--light'),
                usePointStyle: true,
                padding: 10,
                displayColors: false,
                external: function(context) { drawCord(context.tooltip.dataPoints[0].dataIndex) },
                callbacks: {
                    title: function(context) {
                        return context[0].label + ' km'},
                    label: function(context) { 
                        return context.raw + ' m'}
                }
            }
        },
        scales: {
            y: {
                title: {
                    display: true,
                    color: style.getPropertyValue('--light'),
                    text: 'Altitud [m]'
                },
                grid: {
                    color: style.getPropertyValue('--light'),
                    borderColor: style.getPropertyValue('--light'),
                    borderWidth: 0.2,
                    lineWidth: 0.2,
                    // borderDash: [1, 10],
                    // borderDashOffset: 20
                },
                ticks: {
                    color: style.getPropertyValue('--light')
                }
            },
            x: {
                title: {
                    display: true,
                    color: style.getPropertyValue('--light'),
                    text: 'Distancia [km]'
                },
                grid: {
                    display: true,
                    borderWidth: 0.2,
                    lineWidth: 0.2,
                    color: style.getPropertyValue('--light'),
                    borderColor: style.getPropertyValue('--light')
                },
                ticks: {
                    color: style.getPropertyValue('--light'),
                }
            }
        }
    }
};

var myChart = new Chart(lineChart, lineConfig);

function updateChart(chart) {
    var style = getComputedStyle(document.body);

    chart.data.datasets[0].borderColor = style.getPropertyValue('--accent');
    chart.data.datasets[0].pointBackgroundColor = style.getPropertyValue('--accent');

    chart.options.plugins.tooltip.backgroundColor = style.getPropertyValue('--dark');
    chart.options.plugins.tooltip.borderColor = style.getPropertyValue('--light');
    chart.options.plugins.tooltip.titleColor = style.getPropertyValue('--accent');
    chart.options.plugins.tooltip.bodyColor = style.getPropertyValue('--light');

    chart.options.scales.y.grid.color = style.getPropertyValue('--light');
    chart.options.scales.y.grid.borderColor = style.getPropertyValue('--light');
    chart.options.scales.y.ticks.color = style.getPropertyValue('--light');
    chart.options.scales.y.title.color = style.getPropertyValue('--light');

    chart.options.scales.x.grid.color = style.getPropertyValue('--light');
    chart.options.scales.x.grid.borderColor = style.getPropertyValue('--light');
    chart.options.scales.x.ticks.color = style.getPropertyValue('--light');
    chart.options.scales.x.title.color = style.getPropertyValue('--light');

    chart.update();
}

window.addEventListener('onColorSchemeChange', () => {
       updateChart(myChart)
    })

</script>