<div class="track">
    <div id="map"></div>
    <canvas id="chart" width="400" height="400"></canvas>
</div>


<script defer type="text/javascript">
    // import data from './track.json'

    {{ with .Page.Resources.GetMatch "track.json" }}
    const geoData = {{ .Content | safeJS }};
    {{ end }}

    const map = L.map('map', {
        center: [{{ .Get "lat" }}, {{ .Get "lng" }}],
        zoom: 15,
        minZoom: 15,
        maxZoom: 16,
        attributionControl: true,
        maxBounds: [[42.9802, -5.0755],[42.9471, -4.9910]]
    });

    // L.tileLayer('https://{s}.tile-cyclosm.openstreetmap.fr/cyclosm/{z}/{x}/{y}.png', {attribution: '© OpenStreetMap'}).addTo(map);

    L.tileLayer('https://www.ign.es/wmts/pnoa-ma?service=WMTS&request=GetTile&version=1.0.0&Format=image/png&layer=OI.OrthoimageCoverage&style=default&tilematrixset=GoogleMapsCompatible&TileMatrix={z}&TileRow={y}&TileCol={x}', { attribution: 'Infraestructura de Datos Espaciales de Espa&ntilde;a (IDEE)' }).addTo(map);

    L.tileLayer.wms('https://www.ign.es/wms-inspire/ngbe?', 
	{
	   layers: 'GN.GeographicalNames',
	   format: 'image/png',
	   transparent: true
	}).addTo(map);

    L.geoJSON(geoData, {
        style: function (feature) {
            return {color: feature.properties.color};
        }
    }).addTo(map);

    const greenMarker = L.icon({
        iconUrl: '/icons/marker-icon-green.png',
        shadowUrl: '/icons/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        tooltipAnchor: [15, -30],
        shadowSize: [41, 41]

    });

    const redMarker = L.icon({
        iconUrl: '/icons/marker-icon-red.png',
        shadowUrl: '/icons/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        tooltipAnchor: [15, -30],
        shadowSize: [41, 41]

    });

    const goldMarker = L.icon({
        iconUrl: '/icons/marker-icon-gold.png',
        shadowUrl: '/icons/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        tooltipAnchor: [15, -30],
        shadowSize: [41, 41]

    });

    L.marker([42.968357, -5.018883], {icon: greenMarker}).bindTooltip("Aparcamiento").addTo(map);

    L.marker([42.95792, -5.04621], {icon: redMarker}).bindTooltip("Pico Gilbo <i>(Fig. 4-5)</i>").addTo(map).on('click',
        function(e) {
            window.location.hash = "pico-notas";
        });

    L.marker([42.96550, -5.03466], {icon: goldMarker}).bindTooltip("Mirador de las Biescas <i>(Fig. 6)</i>").addTo(map).on('click',
        function(e) {
            window.location.hash = "mirador-biescas";
        });

    L.marker([42.96630, -5.03221], {icon: goldMarker}).bindTooltip("Cueva de la Vieja del Monte <i>(Fig. 7)</i>").addTo(map).on('click',
        function(e) {
            window.location.hash = "cueva-vieja";
        });

    var circle = L.circleMarker([42.968357, -5.018883], {
            weight: 3,
            radius: 8,
            fillColor: '#e3e5e8',
            fillOpacity: 1
        })

    function drawCord(index) {
        data = geoData.features[0].geometry.coordinates[index];
        circle.setLatLng([data[1], data[0]]);

        if (typeof timeoutID === 'number') {
            circle.addTo(map);
            clearTimeout(timeoutID);
        }

        timeoutID = setTimeout( () => {
            circle.remove();
            timeoutID = undefined;
        }, 1000) 
    }

</script>

<script defer type="text/javascript">

    {{ with .Page.Resources.GetMatch "track.json" }}
        var jsonFile = {{ .Content | safeJS }};
    {{ end }}
    
    var data = jsonFile.features[0].geometry.coordinates.map( (n, i) => Math.round(n[2] * 10) / 10 );
    var labels = jsonFile.features[0].geometry.coordinates.map( (n, i) => Math.round(n[3] * 10) / 10 );
    
    var index = data.map( (n, i) => i )
    
    var style = getComputedStyle(document.body);
    
    Chart.defaults.font.family = "Nunito";
    Chart.defaults.font.size = 16;
    
    var lineChart = document.getElementById('chart').getContext('2d');
    
    const lineData = {
        labels: labels,
        datasets: [{
            borderColor: style.getPropertyValue('--accent'),
            pointBackgroundColor: '#e3e5e8',
            backgroundColor: '#3a86ff80',
            lineTension: 0.4,
            fill: true,
            data: data,
        }]
    };
    
    const lineConfig = {
        type: 'line',
        data: lineData,
        options: {
            elements: {
                point: {
                    radius: 1,
                    hitRadius: 80
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    backgroundColor: style.getPropertyValue('--darker'),
                    borderColor: style.getPropertyValue('--accent'),
                    borderWidth: 2,
                    titleColor: style.getPropertyValue('--light'),
                    bodyColor: style.getPropertyValue('--light'),
                    usePointStyle: true,
                    padding: 10,
                    displayColors: false,
                    external: function(context) { drawCord(context.tooltip.dataPoints[0].dataIndex) },
                    callbacks: {
                        title: function(context) {
                            return context[0].label + ' km'},
                        label: function(context) { 
                            return context.raw + ' m'}
                    }
                }
            },
            scales: {
                y: {
                    title: {
                        display: true,
                        color: style.getPropertyValue('--light'),
                        text: 'Altitud [m]'
                    },
                    grid: {
                        color: style.getPropertyValue('--light'),
                        borderColor: style.getPropertyValue('--light'),
                        borderWidth: 0.2,
                        lineWidth: 0.2,
                        // borderDash: [1, 10],
                        // borderDashOffset: 20
                    },
                    ticks: {
                        color: style.getPropertyValue('--light')
                    }
                },
                x: {
                    title: {
                        display: true,
                        color: style.getPropertyValue('--light'),
                        text: 'Distancia [km]'
                    },
                    grid: {
                        display: true,
                        borderWidth: 0.2,
                        lineWidth: 0.2,
                        color: style.getPropertyValue('--light'),
                        borderColor: style.getPropertyValue('--light')
                    },
                    ticks: {
                        color: style.getPropertyValue('--light'),
                    }
                }
            }
        }
    };
    
    var myChart = new Chart(lineChart, lineConfig);
    
    function updateChart(chart) {
        var style = getComputedStyle(document.body);
    
        chart.data.datasets[0].borderColor = style.getPropertyValue('--accent');
        chart.data.datasets[0].pointBackgroundColor = style.getPropertyValue('--accent');
    
        chart.options.plugins.tooltip.backgroundColor = style.getPropertyValue('--dark');
        chart.options.plugins.tooltip.borderColor = style.getPropertyValue('--light');
        chart.options.plugins.tooltip.titleColor = style.getPropertyValue('--accent');
        chart.options.plugins.tooltip.bodyColor = style.getPropertyValue('--light');
    
        chart.options.scales.y.grid.color = style.getPropertyValue('--light');
        chart.options.scales.y.grid.borderColor = style.getPropertyValue('--light');
        chart.options.scales.y.ticks.color = style.getPropertyValue('--light');
        chart.options.scales.y.title.color = style.getPropertyValue('--light');
    
        chart.options.scales.x.grid.color = style.getPropertyValue('--light');
        chart.options.scales.x.grid.borderColor = style.getPropertyValue('--light');
        chart.options.scales.x.ticks.color = style.getPropertyValue('--light');
        chart.options.scales.x.title.color = style.getPropertyValue('--light');
    
        chart.update();
    }
    
    window.addEventListener('onColorSchemeChange', () => {
           updateChart(myChart)
        })
    
</script>